<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TransfersSection" type="Transferizer.Configuration.TransferSection, Transferizer"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <TransfersSection>
    <Transfers>
      <Transfer from="1" include_origen_subfolders="false" search_pattern="" to="3"/>
      <Transfer from="2" include_origen_subfolders="false" search_pattern="" to="3"/>
    </Transfers>
  </TransfersSection>
  <nlog>
    <targets>
        <target name="logfile" type="File" fileName="file.txt" />
        <target name="logconsole" type="Console" />
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
  </nlog>
</configuration>